{% extends 'auth/auth-base.html' %} {% block title %}Log In{% endblock %} {% block form_content %}
<label for="username">Username
    <input name="username" id="username" required>
</label>
<label for="password">Password
    <input type="password" name="password" id="password" required>
</label> {% if error %}
<p class="text-tertiary6">{{ error }}</p>
{% endif %}
<button type="submit" class="w-full mt-4 bg-primary3">Log In</button>
<a class="text-xs text-fg9" href="{{ url_for('auth.signup') }}">Don't have an account? Sign Up</a> {% endblock %}