{% extends "base.html" %}

{% block header %}
<h1>{{ group.name }}</h1>
{% endblock %}
{% if session['user_id'] == group.created_by %}
<a href="{{ url_for('groups.edit', group_id=group.id) }}">Edit</a>
{% endif %}
{% block content %}
{% for message in messages %}
<p>{{ message.content }}</p>
{% endfor %}
<form action="{{ url_for('groups.group', group_id=group.id) }}" method="post">
    <input type="hidden" name="group_id" value="{{ group.id }}">
    <input type="text" name="content" placeholder="Message">
    <input type="submit" value="Send">
</form>
{% endblock %}